<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='vars.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <style>
    a, button, input, select, h1, h2, h3, h4, h5, * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
    }
    menu, ol, ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  </style>

  <title>Inventory</title>
</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #204631;">
  <div class="container-fluid px-4">
    
    <!-- LOGO -->
    <a class="navbar-brand" href="{{ url_for('dashboard') }}">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" height="46px">
    </a>

    <!-- TOGGLER -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV LINKS -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
        </li>

        <!-- MENU -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Menu</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('menu') }}">Menu</a></li>
            <li><a class="dropdown-item" href="{{ url_for('menu_adjustments') }}">Menu Adjustments</a></li>
          </ul>
        </li>

        <!-- ORDERS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Orders</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('orders_and_sales') }}">Orders & Sales</a></li>
            <li><a class="dropdown-item" href="{{ url_for('inventory') }}">Inventory</a></li>
            <li><a class="dropdown-item" href="{{ url_for('inventory_adjustments') }}">Inventory Adjustments</a></li>
          </ul>
        </li>

        <!-- EVENTS -->
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Events</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('events') }}">Event Requests</a></li>
            <li><a class="dropdown-item" href="{{ url_for('event_details_admin') }}">All Event Details</a></li>
          </ul>
        </li>

        <!-- LOYALTY -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('loyalty_program') }}">Loyalty Program</a>
        </li>

        <!-- PROMOS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Promos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('edit_promos') }}">Edit Promos</a></li>
            <li><a class="dropdown-item" href="{{ url_for('view_promos') }}">View Promos</a></li>
          </ul>
        </li>

        <!-- STAFF -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Staff</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('staff_scheduling_admin') }}">Staff 
Schedule</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shift_management') }}">Shift Management</a></li>
          </ul>
        </li>

      </ul>

      <!-- SIGN OUT -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-outline-light" href="{{ url_for('logout') }}">Sign Out</a>
        </li>
      </ul>

    </div>
  </div>
</nav>


  <div class="inventory-analytics">
    <div class="inventory-layout">

      <div class="inventory-kp-is">
        <div class="frame-9">
          <div class="line-1"></div>
          <div class="rectangle-7"></div>
          <div class="current-goals-kp-is">Current Goals &amp; KPIs</div>

          <div class="inventory-turnover-stock-out-rate-website-conversion-rate-order-fulfillment-time-average-order-value">
            <span>
              <span class="inventory-turnover-stock-out-rate-website-conversion-rate-order-fulfillment-time-average-order-value-span">
                Inventory Turnover:
                <br />
              </span>
              <span class="inventory-turnover-stock-out-rate-website-conversion-rate-order-fulfillment-time-average-order-value-span2">
                Stock-Out Rate:
                <br />
              </span>
              <span class="inventory-turnover-stock-out-rate-website-conversion-rate-order-fulfillment-time-average-order-value-span">
                Website Conversion Rate:
                <br />
              </span>
              <span class="inventory-turnover-stock-out-rate-website-conversion-rate-order-fulfillment-time-average-order-value-span2">
                Order Fulfillment Time:
              </span>
              <span class="inventory-turnover-stock-out-rate-website-conversion-rate-order-fulfillment-time-average-order-value-span">

              </span>
            </span>
          </div>

          <div class="_30-25-2-5-10-min-18">
            <span>
              <span class="_30-25-2-5-10-min-18-span">
                30%
                <br />
              </span>
              <span class="_30-25-2-5-10-min-18-span2">
                25%
                <br />
              </span>
              <span class="_30-25-2-5-10-min-18-span">
                2.5%
                <br />
              </span>
              <span class="_30-25-2-5-10-min-18-span2">
                10 min
                <br />
              </span>
              <span class="_30-25-2-5-10-min-18-span">
                $18
                <br />
              </span>
            </span>
          </div>
        </div>
        <div class="line-4"></div>
      </div>

      <div class="theoretical-vs-actual-inventory-costs-over-the-last-12-weeks">
        <div class="chart-axis">
          <div class="main-chart">
            <div class="y-axis-left">
              <div class="_20000">20000</div>
              <div class="_16000">16000</div>
              <div class="_12000">12000</div>
              <div class="_8000">8000</div>
              <div class="_4000">4000</div>
              <div class="_0">0</div>
            </div>

            <div class="graphi-grid">
              <img class="x-lines" src="{{ url_for('static', filename='x-lines0.svg') }}" />
              <img class="y-lines" src="{{ url_for('static', filename='y-lines0.svg') }}" />

              <div class="bar-area">
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar2"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar3"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar4"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar5"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar6"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar7"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar8"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar9"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar10"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar2"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar11"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar12"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar13"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar14"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar15"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar16"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar17"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar18"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar19"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar20"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar21"><div class="bar-strip2"></div></div></div>
                </div>
                <div class="bar-group">
                  <div class="bar-block"><div class="single-bar22"><div class="bar-strip"></div></div></div>
                  <div class="bar-block"><div class="single-bar23"><div class="bar-strip2"></div></div></div>
                </div>
              </div>
            </div>
          </div>

          <div class="x-axis">
            <div class="x-label-box"><div class="_13">1</div></div>
            <div class="x-label-box"><div class="_2">2</div></div>
            <div class="x-label-box"><div class="_3">3</div></div>
            <div class="x-label-box"><div class="_4">4</div></div>
            <div class="x-label-box"><div class="_5">5</div></div>
            <div class="x-label-box"><div class="_6">6</div></div>
            <div class="x-label-box"><div class="_7">7</div></div>
            <div class="x-label-box"><div class="_8">8</div></div>
            <div class="x-label-box"><div class="_9">9</div></div>
            <div class="x-label-box"><div class="_10">10</div></div>
            <div class="x-label-box"><div class="_11">11</div></div>
            <div class="x-label-box"><div class="_122">12</div></div>
          </div>
        </div>

        <div class="legends">
          <div class="fill-legends">
            <div class="legend">
              <div class="legend-node">
                <div class="basic-node">
                  <div class="square-fill"></div>
                </div>
              </div>
              <div class="theoretical-cost">Theoretical cost</div>
            </div>

            <div class="legend">
              <div class="legend-node">
                <div class="basic-node">
                  <div class="square-fill2"></div>
                </div>
              </div>
              <div class="actual-cost">Actual Cost</div>
            </div>
          </div>
        </div>
      </div>

      <div class="delivery-status-card">
        <div class="delivery-status-label">Delivery Status:</div>
        <div class="delivery-status-value">In-Progress</div>
      </div>

      <div class="inventory-availability">
        <div class="availability-for-suppliers">Availability for Suppliers</div>

        <form action="/submit" method="POST" class="supplier-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for suppliers..." name="supplier-search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>

          <input class="availability-entry" type="date" name="date-availability">
          <input class="availability-entry" type="time" name="time-availability">

          <button class="submit-button" type="submit">SUBMIT</button>
        </form>
      </div>
{% if message %}
  <p>{{ message }}</p>
{% endif %}

{% if suppliers %}
  <ul>
    {% for s in suppliers %}
      <li>
        {{ s.SupplierName }} — {{ s.SupplierCity }}, {{ s.SupplierState }} ({{ s.SupplierSpecialty }})
      </li>
    {% endfor %}
  </ul>
{% endif %}
      <div class="inventory-category-card">
        <img src="{{ url_for('static', filename='images/inventory_category_cost.png') }}" alt="Inventory Category Cost" class="inventory-category-cost" />
      </div>

      <div class="top-stockout-items">
        <div class="top-stock-out-items">Top Stock Out Items</div>
        <div class="line-2"></div>
        <div class="kaiser-roll-281-american-cheese-172-frozen-french-fries-156-beef-patty-127-chicken-breast-111">
          Kaiser Roll ----------- 281
          <br />
          American Cheese -----172
          <br />
          Frozen French Fries -- 156
          <br />
          Beef Patty ------------ 127
          <br />
          Chicken Breast ------- 111
        </div>
      </div>

    </div>
  </div>
</body>
</html>
